@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat, sans-serif;
  align-content: center;
  top: 50%;
}

button {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}

button:hover {
  text-decoration: underline;
}

#JogarN{
    display: none;
}